.navbar-inverse {
    background-color: #e64848;
    border-color: #e64848;
}

.navbar-inverse .navbar-brand {
    color: #333;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333;
}

h1, h2, h3, h4, h5 {
    font-family: 'Baloo Tamma', cursive;
    color: #e64848;
}

.profile > img {
    margin: 2em 0;
}
